@page
@model BeneCoASP.Pages.Plans.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plan[0].PlanDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Plan) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PlanCode">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PlanCode">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PlanCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
