@page
@model BeneCoASP.Pages.Jobs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].isAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Job) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.StaffCode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JobCode">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JobCode">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JobCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
